MONGODB_URI=mongodb+srv://pevindichamethya26_db_user:PevindiChamethya%40123@cluster0.874fz7q.mongodb.net/budgetwise?appName=Cluster0
JWT_SECRET=budgetwise_super_secret_key_change_in_production_2026
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173